.admin-bg {
  height: 100vh;
  background-image: linear-gradient(to right, #edc29e, #adc8cb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 35px;
  max-width: 600px;
  width: 90%;
  color: white;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.admin-btn {
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.admin-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
}
