.bookings-wrapper {
  min-height: 100vh;
  background: linear-gradient(to right, #edc29e, #adc8cb);
}

.booking-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.highlight {
  color: #ffd26f;
}

.btn-glass {
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-glass:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.05);
}

.no-booking-text {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.9;
}
